{% extends "backend.html.twig" %}

{% block title %}{{ parent() }} Profil {% endblock %}

{% block body %}
	<section class="content-header">
		<h1>Mise a jour du profil</h1>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{{ absolute_url(path('backend'))}}"><i class="fa fa-home"></i> Accueil</a></li>
			<li class="breadcrumb-item"><a href="{{ absolute_url(path('admin_user_index'))}}">Utilisateur</a></li>
			<li class="breadcrumb-item active">Modification </li>
		</ol>
	</section>
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock %}
