<!--<div class="search wow fadeInUp">
	<script async src="https://cse.google.com/cse.js?cx=002486348212422614640:atcrij15tjc"></script>
	<div class="gcse-search"></div>
</div>-->
<div class="search wow fadeInUp">
	<script async src='https://cse.google.com/cse.js?cx=partner-pub-9362330925767613:2497520309'></script><div class="gcse-searchbox-only"></div>
</div>

{% if (events) %}
	<div class="blog/popular-post widget wow fadeInUp">
		<h2>Showbiz'Event</h2>
		<ul class="popular-list">
			{% for event in events %}
				<li>
					<a href="#"><img src="{{ asset('uploads/event/'~ event.imageName) | imagine_filter('event_mini') }}" alt="" class="img-responsive"/></a>
					<div class="content">
						<h3><a href="#">{{ event.titre }}</a></h3>
						<div class="posted-date">{{ event.dateEvent|date('d M Y') }}</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- bloc-droit -->
<ins class="adsbygoogle"
	 style="display:block"
	 data-ad-client="ca-pub-9362330925767613"
	 data-ad-slot="5163212092"
	 data-ad-format="auto"
	 data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="blog/popular-post widget wow fadeInUp">
	<h2>Nous suivre</h2>
	<ul class="popular-list">
		<div id="fb-root"></div>
		<div class="fb-page" data-href="https://web.facebook.com/dreammakercicom/" data-tabs="timeline,events,messages" data-adapt-container-width="true"  data-height="800" data-small-header="false"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://web.facebook.com/dreammakercicom/" class="fb-xfbml-parse-ignore"><a href="https://web.facebook.com/dreammakercicom/">Dream Maker</a></blockquote></div>

	</ul>
</div>
